# Ejercicio de contar MnM's

In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession

In [3]:
from pyspark.sql import functions as F

In [4]:
import sys

In [5]:
spark = SparkSession.builder.appName("MnMCountPy").getOrCreate()

In [6]:
mnm_ruta = "mnm_dataset.csv"

In [7]:
mnm = spark.read.csv("mnm_dataset.csv",header=True,inferSchema=True)

In [8]:
mnm.printSchema()

root
 |-- State: string (nullable = true)
 |-- Color: string (nullable = true)
 |-- Count: integer (nullable = true)

In [9]:
mnm.show(5)

+-----+------+-----+
|State| Color|Count|
+-----+------+-----+
|   TX|   Red|   20|
|   NV|  Blue|   66|
|   CO|  Blue|   79|
|   OR|  Blue|   71|
|   WA|Yellow|   93|
+-----+------+-----+
only showing top 5 rows

In [41]:
dfcount = mnm.select("State","Color","Count")\
            .groupBy("State","Color")\
            .agg(F.count("Count").alias("Total"),F.sum("Count").alias("Suma"))\
            .orderBy("Total",ascending=False)

In [18]:
df2 = mnm.select("State","Color","Count")\
            .groupBy("State","Color")\
            .agg(F.count("Count").alias("Total"),F.sum("Count").alias("Suma"),F.max("Count").alias("Maximo"))\
            .orderBy(F.asc("Total"),F.desc("Suma"))

In [19]:
df2.show(10)

+-----+------+-----+-----+------+
|State| Color|Total| Suma|Maximo|
+-----+------+-----+-----+------+
|   WY| Brown| 1532|86110|   100|
|   UT| Green| 1591|88392|   100|
|   WY|Orange| 1595|87956|   100|
|   CA|  Blue| 1603|89123|   100|
|   NV|   Red| 1610|89346|   100|
|   TX|  Blue| 1614|88466|   100|
|   OR|Yellow| 1614|88129|   100|
|   OR| Brown| 1621|89136|   100|
|   CO|   Red| 1624|89465|   100|
|   WA|  Blue| 1625|89886|   100|
+-----+------+-----+-----+------+
only showing top 10 rows

In [42]:
dfcount.show()

+-----+------+-----+------+
|State| Color|Total|  Suma|
+-----+------+-----+------+
|   CA|Yellow| 1807|100956|
|   WA| Green| 1779| 96486|
|   OR|Orange| 1743| 94514|
|   TX| Green| 1737| 95753|
|   TX|   Red| 1725| 95404|
|   CA| Green| 1723| 93505|
|   CO|Yellow| 1721| 95038|
|   CA| Brown| 1718| 95762|
|   CO| Green| 1713| 93724|
|   NV|Orange| 1712| 93929|
|   TX|Yellow| 1703| 93819|
|   NV| Green| 1698| 91331|
|   AZ| Brown| 1698| 92287|
|   WY| Green| 1695| 94339|
|   CO|  Blue| 1695| 93412|
|   NM|   Red| 1690| 94699|
|   AZ|Orange| 1689| 91684|
|   NM|Yellow| 1688| 92747|
|   NM| Brown| 1687| 93447|
|   UT|Orange| 1684| 91341|
+-----+------+-----+------+
only showing top 20 rows

In [43]:
print("Total Rows = %d" % dfcount.count())

Total Rows = 60

### Apartado 2

In [45]:
a2 = mnm.select("State","Color","Count")\
    .where(mnm.State=="CA")\
    .groupBy("State","Color")\
    .agg(F.count("Count").alias("Total"),F.sum("Count").alias("Suma"))\
    .orderBy("Total",ascending=False)

In [46]:
a2.show()

+-----+------+-----+------+
|State| Color|Total|  Suma|
+-----+------+-----+------+
|   CA|Yellow| 1807|100956|
|   CA| Green| 1723| 93505|
|   CA| Brown| 1718| 95762|
|   CA|Orange| 1657| 90311|
|   CA|   Red| 1656| 91527|
|   CA|  Blue| 1603| 89123|
+-----+------+-----+------+

In [47]:
spark.stop()

In [39]:
a3 = mnm.select("State","Color","Count")\
    .where(mnm.State.isin(["CA","NV","TX"]))\
    .groupBy("State","Color")\
    .agg(F.count("Count").alias("Total"),F.sum("Count").alias("Suma"),F.avg("Count").alias("MEdia"))\
    .orderBy("Total",ascending=False)

In [40]:
a3.show(10)

+-----+------+-----+------+------------------+
|State| Color|Total|  Suma|             MEdia|
+-----+------+-----+------+------------------+
|   CA|Yellow| 1807|100956|  55.8693967902601|
|   TX| Green| 1737| 95753| 55.12550374208405|
|   TX|   Red| 1725| 95404|55.306666666666665|
|   CA| Green| 1723| 93505|54.268717353453276|
|   CA| Brown| 1718| 95762|55.740395809080326|
|   NV|Orange| 1712| 93929|54.865070093457945|
|   TX|Yellow| 1703| 93819| 55.09042865531415|
|   NV| Green| 1698| 91331| 53.78739693757362|
|   NV|Yellow| 1675| 91390|54.561194029850746|
|   NV|  Blue| 1673| 90003|53.797369994022716|
+-----+------+-----+------+------------------+
only showing top 10 rows

In [37]:
a3.describe().show()

+-------+-----+------+------------------+------------------+
|summary|State| Color|             Total|              Suma|
+-------+-----+------+------------------+------------------+
|  count|   18|    18|                18|                18|
|   mean| null|  null|1681.1666666666667| 92564.11111111111|
| stddev| null|  null| 51.87456590888536|3079.5451705594896|
|    min|   CA|  Blue|              1603|             88466|
|    max|   TX|Yellow|              1807|            100956|
+-------+-----+------+------------------+------------------+