### Vamos a ver lo que nos ahorra trabajar con alto nivel

In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.getOrCreate() #creacion de la SparkSession

# Comenzamos en bajo nivel

In [4]:
dataRDD = sc.paralelize([("Brooke",20),("Denny",31),("Jules",30),("TD",35),("Brooke",35)])

NameError: name 'sc' is not defined

# Alto nivel (el bajo no va)

In [12]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

In [13]:
spark = SparkSession.builder.appName("AuthorAges").getOrCreate()

In [19]:
df = spark.createDataFrame([("Brooke",20),("Denny",31),("Jules",30),("TD",35),("Brooke",35)],["Nombre","Edad"])
df.show(10)

+------+----+
|Nombre|Edad|
+------+----+
|Brooke|  20|
| Denny|  31|
| Jules|  30|
|    TD|  35|
|Brooke|  35|
+------+----+

In [21]:
dfmedia = df.groupBy("Nombre")\
    .agg(F.avg("Edad").alias("Media"))

In [22]:
dfmedia.show()

+------+-----+
|Nombre|Media|
+------+-----+
|Brooke| 27.5|
| Denny| 31.0|
| Jules| 30.0|
|    TD| 35.0|
+------+-----+

# Definiendo ScHEMAS

In [24]:
from pyspark.sql.types import *

In [25]:
schema = StructType([
    StructField("author", StringType(), False),
    StructField("title", StringType(), False),
    StructField("pages", IntegerType(), False)
    ])

In [27]:
schema2 = "autor STRING, Titulo STRING, pages INT"

### Ejemplo

In [28]:
data = [[1, "Jules", "Damji", "https://tinyurl.1", "1/4/2016", 4535, ["twitter","LinkedIn"]],
    [2, "Brooke","Wenig", "https://tinyurl.2", "5/5/2018", 8908, ["twitter","LinkedIn"]],
    [3, "Denny", "Lee", "https://tinyurl.3", "6/7/2019", 7659, ["web","twitter", "FB", "LinkedIn"]],
    [4, "Tathagata", "Das", "https://tinyurl.4", "5/12/2018", 10568,
    ["twitter", "FB"]],
    [5, "Matei","Zaharia", "https://tinyurl.5", "5/14/2014", 40578, ["web","twitter", "FB", "LinkedIn"]],
    [6, "Reynold", "Xin", "https://tinyurl.6", "3/2/2015", 25568,["twitter", "LinkedIn"]]]

In [31]:
schemadata = "ID INT, Nomre STRING, Apellido STRING, url STRING, fechapub STRING, tema INT, Campanas ARRAY<STRING>"

In [32]:
dfblog = spark.createDataFrame(data,schemadata)

In [33]:
dfblog.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Nomre: string (nullable = true)
 |-- Apellido: string (nullable = true)
 |-- url: string (nullable = true)
 |-- fechapub: string (nullable = true)
 |-- tema: integer (nullable = true)
 |-- Campanas: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [35]:
dfblog.show(truncate=False)

+---+---------+--------+-----------------+---------+-----+----------------------------+
|ID |Nomre    |Apellido|url              |fechapub |tema |Campanas                    |
+---+---------+--------+-----------------+---------+-----+----------------------------+
|1  |Jules    |Damji   |https://tinyurl.1|1/4/2016 |4535 |[twitter, LinkedIn]         |
|2  |Brooke   |Wenig   |https://tinyurl.2|5/5/2018 |8908 |[twitter, LinkedIn]         |
|3  |Denny    |Lee     |https://tinyurl.3|6/7/2019 |7659 |[web, twitter, FB, LinkedIn]|
|4  |Tathagata|Das     |https://tinyurl.4|5/12/2018|10568|[twitter, FB]               |
|5  |Matei    |Zaharia |https://tinyurl.5|5/14/2014|40578|[web, twitter, FB, LinkedIn]|
|6  |Reynold  |Xin     |https://tinyurl.6|3/2/2015 |25568|[twitter, LinkedIn]         |
+---+---------+--------+-----------------+---------+-----+----------------------------+